#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
# Shell
brew "fish"

# Dev toolkits
brew "nodenv"
brew "oven-sh/bun/bun"
brew "uv"

# CLI tools
brew "bat"
brew "eza"
brew "fd"
brew "ripgrep"
brew "zoxide"
brew "gh"
brew "fastfetch"
brew "hyperfine"
{{- if eq .machine "work" }}
brew "googleworkspace-cli"
{{- end }}

# System utilities
brew "chezmoi"
brew "mole"
brew "ffmpeg"
brew "zlliang/tap/chore"

# Desktop apps
cask "ghostty"
cask "hiddenbar"
cask "keka"
cask "orbstack"
EOF
