README.md
AGENTS.md
LICENSE

{{- if ne .machine "work" }}
.gitconfig-work
.local/bin/glean
.local/bin/glean-auth-login
{{- end }}

{{- if ne .chezmoi.os "darwin" }}
.chezmoiscripts/configure-vscode-vim.fish
.chezmoiscripts/install-packages.fish
.config/chore/
.config/ghostty/
{{- end }}
