{{- $machine := promptStringOnce . "machine" "Machine type (personal/work)" "personal" }}
{{- $workEmail := "" }}
{{- $teamName := "" }}
{{- $teamId := "" }}
{{- $gitlabNamespace := "" }}
{{- if eq $machine "work" }}
{{-   $workEmail = promptStringOnce . "workEmail" "Work email address" }}
{{-   $teamName = promptStringOnce . "teamName" "Team name" }}
{{-   $teamId = promptStringOnce . "teamId" "Team ID" }}
{{-   $gitlabNamespace = promptStringOnce . "gitlabNamespace" "GitLab namespace" }}
{{- end -}}

sourceDir = "~/Workspace/github/zlliang/dotfiles"

[data]
machine = {{ $machine | quote }}
workEmail = {{ $workEmail | quote }}
teamName = {{ $teamName | quote }}
teamId = {{ $teamId | quote }}
gitlabNamespace = {{ $gitlabNamespace | quote }}
