README.md
AGENTS.md
LICENSE
bootstrap.sh

{{- if ne .machine "work" }}
.chezmoiscripts/install-work-specific-clis.sh
.config/fish/conf.d/20-work.fish
.local/bin/glean
.local/bin/glean-auth-login
.gitconfig-work
{{- end }}

{{- if ne .chezmoi.os "darwin" }}
.chezmoiscripts/install-desktop-apps.sh
.chezmoiscripts/install-work-specific-clis.sh
.config/fish/conf.d/03-brew.fish
.config/ghostty/
{{- end }}
