{{- $machine := "personal" -}}
{{- if eq .chezmoi.hostname "REDACTED_HOSTNAME" -}}
{{-   $machine = "work" -}}
{{- end -}}

sourceDir = "~/Workspace/github/zlliang/dotfiles"

[data]
machine = {{ $machine | quote }}
