README.md
AGENTS.md
LICENSE
bootstrap.sh

{{- if ne .machine "work" }}
.config/fish/conf.d/20-work.fish
.local/bin/glean
.local/bin/glean-auth-login
.gitconfig-work
{{- end }}

{{- if ne .chezmoi.os "darwin" }}
.config/ghostty/
{{- end }}
