# Git global configurations
# Location: ~/.gitconfig

[user]
  name = Zilong Liang
  email = zlliang96@outlook.com
[init]
  defaultBranch = main
[core]
  editor = code --wait # VS Code
  excludesfile = ~/.gitignore
[credential]
  helper = osxkeychain
[pull]
  rebase = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process
[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
  unstage = reset HEAD --
  last = log -1 HEAD
  lg = log --color --graph --decorate --all --pretty --oneline
