# NPM config
# Location: ~/.npmrc

registry=https://mirrors.tencent.com/npm/

//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_NPM_TOKEN}
@kakulabo:registry=https://npm.pkg.github.com/

# For pnpm
shamefully-hoist=true
