{
  {{- if eq .machine "work" }}
  "mcpServers": {
    "exa": {
      "url": "https://mcp.exa.ai/mcp"
    },
    "booking-toolbox": {
      "type": "stdio",
      "command": "bk",
      "args": ["genai:mcp:toolbox"]
    }
  },
  {{- else }}
  "mcpServers": {
    "exa": {
      "url": "https://mcp.exa.ai/mcp"
    }
  },
  {{- end }}
  "imports": []
}
