{
  {{- if eq .machine "work" }}
  "mcpServers": {
    "booking-genai-toolbox": {
      "type": "stdio",
      "command": "bk",
      "args": ["genai:mcp:toolbox"],
      "env": {
        "MCP_TIMEOUT": "30000"
      }
    }
  },
  {{- else }}
  "mcpServers": {},
  {{- end }}
  "imports": []
}
