{
  "presets": {
    {{- if eq .machine "work" }}
    "claude-opus": {
      "provider": "booking-genai",
      "model": "claude-opus-4-8",
      "thinkingLevel": "high"
    },
    "gpt": {
      "provider": "openai-codex",
      "model": "gpt-5.5",
      "thinkingLevel": "high"
    },
    "glm": {
      "provider": "fireworks",
      "model": "accounts/fireworks/models/glm-5p2",
      "thinkingLevel": "xhigh"
    }
    {{- else }}
    "claude-opus": {
      "provider": "vercel-ai-gateway",
      "model": "anthropic/claude-opus-4.8",
      "thinkingLevel": "high"
    },
    "gpt": {
      "provider": "openai-codex",
      "model": "gpt-5.5",
      "thinkingLevel": "high"
    },
    "glm": {
      "provider": "fireworks",
      "model": "accounts/fireworks/models/glm-5p2",
      "thinkingLevel": "xhigh"
    },
    "deepseek": {
      "provider": "deepseek",
      "model": "deepseek-v4-flash",
      "thinkingLevel": "xhigh"
    }
    {{- end }}
  },
  "recap": {
    {{- if eq .machine "work" }}
    "provider": "openai-codex",
    "model": "gpt-5.5",
    "thinkingLevel": "off"
    {{- else }}
    "provider": "deepseek",
    "model": "deepseek-v4-flash",
    "thinkingLevel": "off"
    {{- end }}
  }
}
