{{- if eq .machine "work" }}
set -gx COREPACK_NPM_REGISTRY "https://mirrors.tencent.com/npm"
set -gx COREPACK_INTEGRITY_KEYS "0"
{{- end }}
set -gx COREPACK_ENABLE_AUTO_PIN 0
set -gx PNPM_HOME "$HOME/.pnpm"
fish_add_path -g "$HOME/.bun/bin"
