{
{{- if eq .machine "work" }}
  "amp.mcpServers": {
    "Toolbox-Preview": {
      "command": "bk",
      "args": [
        "genai:mcp:toolbox",
        "--enable-preview"
      ]
    }
  },
{{- end }}
  "amp.permissions": [
    { "tool": "*", "action": "allow", "matches": {} }
  ],
  "amp.skills.path": "~/.agents/skills",
  "amp.skills.disableClaudeCodeSkills": true,
  "amp.git.commit.coauthor.enabled": true,
  "amp.git.commit.ampThread.enabled": false
}
